<div id="external-map">
    <div class="info-div" *ngIf="!!hoveredSystem">
        <mat-form-field appearance="outline">
            <mat-label>System</mat-label>
            <input matInput disabled value="{{hoveredSystem.name}}">
        </mat-form-field>

        <mat-form-field appearance="outline" class="small-field">
            <mat-label>X-Coordinate</mat-label>
            <input matInput disabled value="{{hoveredSystem!.x}} {{ 'distance.lightyear.abbrev' | translate }}">
        </mat-form-field>

        <mat-form-field appearance="outline" class="small-field">
            <mat-label>Y-Coordinate</mat-label>
            <input matInput disabled value="{{-hoveredSystem!.y}} {{ 'distance.lightyear.abbrev' | translate }}">
        </mat-form-field>

        <button mat-icon-button class="info-btn"
                (click)="toggleNames()"
                matTooltip="Show all system names - this will slow down the map!">
            <mat-icon>info</mat-icon>
        </button>
    </div>

    <div id="universe">
        <!-- svg elements will be created programmatically -->
    </div>
</div>
