<div id="external-map" [class.waiting]="rebuildMap">

    <div id="year-selector" *ngIf="!cinematicMode" [ngClass]="smallHeight ? 'wide-stack' : 'high-stack'" [class.hidden]="!yearSelectorOpen">
        <mat-chip-listbox class="mat-mdc-chip-set-stacked years-selection-chip-list">
            <mat-chip-option *ngFor="let year of YEARS" class="years-chip no-checkmark" (click)="setYear(year)" [selected]="year == 1899">
                {{ year }} PD
            </mat-chip-option>
        </mat-chip-listbox>
    </div>
    <button *ngIf="!cinematicMode" id="year-toggle-btn" type="button" mat-icon-button [ngClass]="yearSelectorOpen ? (smallHeight ? 'wide-btn' : 'high-btn') : ''"
            (click)="yearSelectorOpen = !yearSelectorOpen">
        <mat-icon *ngIf="yearSelectorOpen">switch_right</mat-icon>
        <mat-icon *ngIf="!yearSelectorOpen">switch_left</mat-icon>
    </button>

    <form class="search-box" *ngIf="!cinematicMode">
        <mat-form-field class="center-field" appearance="outline">
            <mat-label>Search for system</mat-label>
            <input matInput
                   placeholder="Search for system"
                   #centerInput
                   [formControl]="centerFormControl"
                   matAutocompletePosition="above"
                   [matAutocomplete]="auto1"/>
            <mat-icon matSuffix (click)="selectedCenter(undefined); $event.stopPropagation();">clear</mat-icon>
            <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="selectedCenter($event)">
                <mat-option *ngFor="let coord of filteredCenter | async" [value]="coord">
                    {{ coord.name }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <button mat-mini-fab color="primary" (click)="zoomTo(searchedStarSystem)"
                matTooltip="Zoom to target"
                class="zoom-btn">
            <mat-icon>zoom_in_map</mat-icon>
        </button>
    </form>

    <div id="minimap-container">
        <mat-button-toggle-group *ngIf="!cinematicMode" id="wiki-toggle" matTooltip="Select Fandom Integration">
            <mat-button-toggle (click)="baseURL = undefined;">NONE</mat-button-toggle>
            <mat-button-toggle (click)="baseURL = EN_FANDOM_URL;">EN</mat-button-toggle>
            <mat-button-toggle (click)="baseURL = DE_FANDOM_URL;">DE</mat-button-toggle>
        </mat-button-toggle-group>

        <div id="universe-minimap">
            <!-- svg elements will be created programmatically -->
        </div>
    </div>


    <button mat-button *ngIf="!cinematicMode" (click)="showBackgroundManipulation = !showBackgroundManipulation" id="toggleManipulator"></button>

    <span *ngIf="!cinematicMode" id="ctto">Map proudly presented by NovaBallard and <a target="_blank" href="https://www.battleforhonor.de">www.battleforhonor.de</a></span>

    <div *ngIf="!cinematicMode && !!hoveredSystem" class="info-div flex-items-container" [ngClass]="{'red': lockedToBackground }">

        <app-toggle-view-mode></app-toggle-view-mode>

        <mat-form-field appearance="outline" style="width: 180px;" *ngIf="!smallWidth">
            <mat-label>System</mat-label>
            <input matInput disabled value="{{ hoveredSystem.name }}">
            <button matSuffix mat-icon-button class="info-btn"
                    (click)="toggleNames()"
                    matTooltip="Show all system names - this will slow down the map!">
                <mat-icon>info</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field appearance="outline" class="small-field" *ngIf="!smallWidth">
            <mat-label>X-Coordinate</mat-label>
            <input matInput disabled value="{{ hoveredSystem!.x }} {{ 'distance.lightyear.abbrev' | translate }}">
        </mat-form-field>

        <mat-form-field appearance="outline" class="small-field" *ngIf="!smallWidth">
            <mat-label>Y-Coordinate</mat-label>
            <input matInput disabled value="{{ -hoveredSystem!.y }} {{ 'distance.lightyear.abbrev' | translate }}">
        </mat-form-field>

        <div class="small-box" *ngIf="smallWidth">
            <span>{{ hoveredSystem.name }}</span>
            <span>X-Coordinate: {{ hoveredSystem!.x }} {{ 'distance.lightyear.abbrev' | translate }}</span>
            <span>Y-Coordinate: {{ -hoveredSystem!.y }} {{ 'distance.lightyear.abbrev' | translate }}</span>
        </div>

        <button mat-icon-button class="info-btn"
                *ngIf="showBackgroundManipulation"
                (click)="showBackgroundNav = !showBackgroundNav"
                matTooltip="Display background manipulation">
            <mat-icon>map</mat-icon>
        </button>

        <button mat-icon-button class="info-btn"
                *ngIf="showBackgroundManipulation"
                (click)="download()"
                matTooltip="Download coordinates">
            <mat-icon>file_download</mat-icon>
        </button>

        <button mat-icon-button class="info-btn"
                *ngIf="showBackgroundManipulation"
                (click)="showUpload = !showUpload"
                matTooltip="Upload coordinates">
            <mat-icon>file_upload</mat-icon>
        </button>
    </div>

    <div *ngIf="!cinematicMode" class="control-container flex-items-container">
        <div *ngIf="showBackgroundNav" class="map-nav">
            <app-outlined titleValue="Background controls">
                <app-outlined titleValue="Upload background">
                    <div class="upload-container">
                        <app-file-upload
                                class="file-upload"
                                (upload)="setBackground($event)"></app-file-upload>
                        <button mat-raised-button color="primary"
                                class="reset-btn"
                                [disabled]="!backgroundImage"
                                (click)="removeBackground()">
                            Remove Background
                        </button>
                        <button mat-raised-button color="primary"
                                class="reset-btn"
                                [disabled]="!backgroundImage"
                                (click)="resetBackgroundModification()">
                            Reset Background modification
                        </button>
                    </div>
                </app-outlined>

                <div class="flex-items-container">
                    <app-outlined titleValue="Move background" class="control-container-block">
                        <div class="controls">
                            <button class="kbc-button key-up"
                                    (click)="handleButtonPress('w')"
                                    [disabled]="!backgroundImage">W
                            </button>
                            <button class="kbc-button key-left" (click)="handleButtonPress('a')"
                                    [disabled]="!backgroundImage">A
                            </button>
                            <button class="kbc-button key-down" (click)="handleButtonPress('s')"
                                    [disabled]="!backgroundImage">S
                            </button>
                            <button class="kbc-button key-right" (click)="handleButtonPress('d')"
                                    [disabled]="!backgroundImage">D
                            </button>
                        </div>
                    </app-outlined>

                    <app-outlined titleValue="Stretch background" class="control-container-block">
                        <div class="controls">
                            <button class="kbc-button key-up" (click)="handleButtonPress('ArrowUp')"
                                    [disabled]="!backgroundImage">⇧
                            </button>
                            <button class="kbc-button key-left" (click)="handleButtonPress('ArrowLeft')"
                                    [disabled]="!backgroundImage">⇦
                            </button>
                            <button class="kbc-button key-down" (click)="handleButtonPress('ArrowDown')"
                                    [disabled]="!backgroundImage">⇩
                            </button>
                            <button class="kbc-button key-right" (click)="handleButtonPress('ArrowRight')"
                                    [disabled]="!backgroundImage">⇨
                            </button>
                        </div>
                    </app-outlined>

                    <app-outlined titleValue="Zoom background" class="control-container-block wider">
                        <div class="plusminus">
                            <button class="kbc-button key-down" (click)="handleButtonPress('-')"
                                    [disabled]="!backgroundImage || lockedToBackground">-
                            </button>
                            <button class="kbc-button key-up" (click)="handleButtonPress('+')"
                                    [disabled]="!backgroundImage || lockedToBackground">+
                            </button>
                        </div>
                    </app-outlined>

                    <app-outlined titleValue="Relative Locking" class="control-container-block wider">
                        <div class="locking">
                            <button class="kbc-button key-up" (click)="handleButtonPress('Escape')"
                                    [disabled]="!backgroundImage">
                                Esc
                            </button>
                        </div>
                    </app-outlined>

                    <app-outlined titleValue="Granularity control" class="wider">
                        <mat-slide-toggle [(ngModel)]="maxGranularity"
                                          (click)="setPanZoomByState()"
                                          matTooltip="Home or Pos1 Button"></mat-slide-toggle>
                    </app-outlined>
                </div>
            </app-outlined>
        </div>

        <div *ngIf="!!selectedStarSystem && !baseURL" class="coord-control flex-items-container">
            <app-outlined titleValue="Celestial controls" style="margin: auto;">
                <div class="celestial-controls">
                    <button mat-mini-fab color="primary" (click)="deselectSystem()"
                            matTooltip="Deselect system"
                            class="deselect-btn">
                        <mat-icon>close</mat-icon>
                    </button>
                    <button class="kbc-button key-up" (click)="handleButtonPress('i')">I</button>
                    <button class="kbc-button key-left" (click)="handleButtonPress('j')">J</button>
                    <button class="kbc-button key-down" (click)="handleButtonPress('k')">K</button>
                    <button mat-mini-fab color="primary" (click)="zoomTo(selectedStarSystem)"
                            [disabled]="lockedToBackground"
                            matTooltip="Zoom to target"
                            class="zoom-btn">
                        <mat-icon>zoom_in_map</mat-icon>
                    </button>
                    <button class="kbc-button key-right" (click)="handleButtonPress('l')">L</button>
                </div>

                <mat-form-field class="name-field">
                    <input type="text" matInput [(ngModel)]="selectedStarSystem.name" (keyup)="handlePosChange('xxx')">
                </mat-form-field>

                <button mat-mini-fab color="warn" (click)="dropSystem()"
                        matTooltip="Delete system"
                        class="drop-system-btn">
                    <mat-icon>delete</mat-icon>
                </button>
            </app-outlined>
        </div>
        <div *ngIf="showUpload" class="coord-control flex-items-container">
            <app-outlined titleValue="Upload coordinates" style="margin: auto">
                <div class="upload-container">
                    <app-file-upload
                            class="file-upload"
                            (upload)="uploadCoordinates($event)"></app-file-upload>
                </div>
            </app-outlined>
        </div>
    </div>

    <div id="universe">
        <!-- svg elements will be created programmatically -->
    </div>

    <div class="legend-box" [ngClass]="smallHeight ? 'wide-legend' : 'high-legend'" (mouseout)="resetHighlighting()">
        <span>Legend</span>
        <ul>
            <li class="solarian" (mouseover)="highlightColor(SystemAssignmentHelper.SOLARIAN_LEAGUE_COLOR_MARKER)">Solarian League</li>
            <li class="manticore" (mouseover)="highlightColor(SystemAssignmentHelper.MANTICORE_COLOR_MARKER)">Manticore Empire</li>
            <li class="haven" (mouseover)="highlightColor(SystemAssignmentHelper.HAVEN_COLOR_MARKER)">Haven Republic</li>
            <li class="malign" (mouseover)="highlightColor(SystemAssignmentHelper.MALIGN_COLOR_MARKER)">Renaissance Factor</li>
            <li class="anderman" (mouseover)="highlightColor(SystemAssignmentHelper.ANDERMAN_COLOR_MARKER)">Andermani Empire</li>
            <li class="silesia" (mouseover)="highlightColor(SystemAssignmentHelper.SILESIA_COLOR_MARKER)">Silesia Confederacy</li>
            <li class="midgard" (mouseover)="highlightColor(SystemAssignmentHelper.MIDGARD_COLOR_MARKER)">Midgard Federation</li>
            <li class="matapan" (mouseover)="highlightColor(SystemAssignmentHelper.MATAPAN_COLOR_MARKER)">Matapan</li>
            <li class="asgard" (mouseover)="highlightColor(SystemAssignmentHelper.ASGARD_COLOR_MARKER)">Asgard Association</li>
            <li class="monica" (mouseover)="highlightColor(SystemAssignmentHelper.MONICA_COLOR_MARKER)">Republic of Monica</li>
            <li class="torch" (mouseover)="highlightColor(SystemAssignmentHelper.TORCH_COLOR_MARKER)">Kingdom of Torch</li>
            <li class="famous" (mouseover)="highlightColor(SystemAssignmentHelper.PHOENIX_COLOR_MARKER)">Phoenix clusters</li>
        </ul>
    </div>
</div>
