@import "src/styles/variables";
@import "src/styles/keyboard";


* {
  color: $secondary-text-color;
}

$bgColor: black;

#external-map {
  background-color: $bgColor;
  overflow: hidden;
}

.info-btn {
  color: $success;
}

button {
  pointer-events: auto;
}

.control-container-block {
  width: fit-content;
  display: block;
}

.controls {
  pointer-events: auto;
  display: inline-grid;
  grid-column-gap: 0;
}

.wider {
  width: 160px;
}

.celestial-controls {
  pointer-events: auto;
  display: inline-grid;
  grid-column-gap: 0;
  align-content: center;
  margin: 0 25px 25px 25px;
}

app-outlined {
  background-color: #2E3338;
  border-radius: 20px;
}

.name-field {
  margin: auto;
  align-content: center;
  display: inline-grid;
  pointer-events: auto;
}

.map-nav {
  background-color: #2E3338;
  z-index: 999;
  border-radius: 20px;
  width: 550px;
}

.coord-control {
  z-index: 999;
  max-width: 250px;
  max-height: 240px;
}

.control-container {
  height: fit-content;
}

.file-upload {
  max-width: 500px;
  display: inline-block;
}

.reset-btn {
  float: right;
}

.kbc-button {
  height: 38px;
}

.upload-container {
  margin-bottom: 25px;
  pointer-events: auto;
}

.plusminus, .locking {
  pointer-events: auto;
}

.plusminus > button {
  width: 30px;
}

.locking > button {
  width: 50px;
}

.key-up {
  grid-column-start: 2;
}

.key-left {
  grid-column-start: 1;
}

.key-down {
}

.key-right {
  grid-column-start: 3;
}

.zoom-btn {
  grid-row-start: 1;
  grid-column-start: 3;
  top: 10px;
  left: 5px;
}

.deselect-btn {
  grid-row-start: 1;
  grid-column-start: 1;
  top: 10px;
  left: 5px;
}

.drop-system-btn {
  position: absolute;
  top: -30px;
  left: -40px;
}

.red {
  background-image: radial-gradient(transparent, transparent, transparent, $warning-color);
}

#toggleManipulator {
  position: absolute;
  z-index: 99;
}

#ctto {
  position: absolute;
  z-index: 99;
  bottom: 0;
  font-size: 10px;
  margin-bottom: 5px;
  margin-left: 5px;
  color: hsla(0, 100%, 30%, 0.3);

  & a {
    color: hsla(0, 100%, 30%, 0.3);
  }
}

.small-box {
  & span {
    margin: 5px 10px;
    font-size: small;
  }
}

.search-box {
  position: absolute;
  left: 25px;
  bottom: 25px;
  z-index: 999;
}

#wiki-toggle {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 99;
}

$chip-width: 85px;

#year-toggle-btn {
  position: absolute;
  top: 50%;
  left: 15px;
  z-index: 99;
}

.wide-btn {
  left: calc($chip-width * 3 + 25px + 75px) !important;
}

.high-btn {
  left: calc($chip-width + 15px + 75px) !important;
}

#year-selector {
  position: absolute;
  left: 25px;
  z-index: 98;

  opacity: 0.5;
  border: solid 1px white;
  border-radius: 5px;
  padding: 15px;
  background: linear-gradient(-45deg, dimgray 20px, transparent 20px) no-repeat border-box, linear-gradient(-135deg, dimgray 20px, transparent 20px) no-repeat border-box;
}

mat-mdc-chip-set-stacked {
  z-index: 99;
}

.wide-stack {
  width: calc($chip-width * 3 + 25px);
  top: 25%;
}

.high-stack {
  width: calc($chip-width + 15px);
  top: 10%;
}

.years-chip {
  font-size: small;
  width: $chip-width !important;
  background-color: $primary-color !important;
}

.mat-mdc-chip-selected {
  background-color: $success !important;
}

.hidden {
  visibility: hidden;
}

.waiting {
  cursor: wait;
}

.legend-box {
  z-index: 98;
  position: absolute;
  bottom: 25px;
  right: 25px;
  opacity: 0.5;
  border: solid 1px white;
  border-radius: 5px;
  padding: 15px;
  background: linear-gradient(-45deg, dimgray 20px, transparent 20px) no-repeat border-box, linear-gradient(-135deg, dimgray 20px, transparent 20px) no-repeat border-box;

  & li {
    z-index: 99;
  }
}

.high-legend {
}

.wide-legend {
  font-size: small;
  padding: 10px;
  bottom: 15px;
  right: 15px;
}

#legend-solarian {
  color: #B31616;
}

#legend-manticore {
  color: #ff00ff;
}

#legend-haven {
  color: #57ffc7;
}

#legend-malign {
  color: #996633;
}

#legend-anderman {
  color: #ffcc00;
}

#legend-silesia {
  color: #99ff33;
}

#legend-midgard {
  color: #ff9900;
}

#legend-matapan {
  color: #6666ff;
}

#legend-asgard {
  color: #009999;
}

#legend-Monica {
  color: #669999;
}

#legend-torch {
  color: #ff0066;
}

#legend-famous {
  color: #3366cc;
}
