<div id="external-map">
    <div class="info-div" *ngIf="!!hoveredSystem">
        <mat-form-field appearance="outline">
            <mat-label>System</mat-label>
            <input matInput disabled value="{{hoveredSystem.name}}">
        </mat-form-field>

        <mat-form-field appearance="outline" class="small-field">
            <mat-label>X-Coordinate</mat-label>
            <input matInput disabled value="{{hoveredSystem!.x}} {{ 'distance.lightyear.abbrev' | translate }}">
        </mat-form-field>

        <mat-form-field appearance="outline" class="small-field">
            <mat-label>Y-Coordinate</mat-label>
            <input matInput disabled value="{{-hoveredSystem!.y}} {{ 'distance.lightyear.abbrev' | translate }}">
        </mat-form-field>

        <button mat-icon-button class="info-btn"
                (click)="toggleNames()"
                matTooltip="Show all system names - this will slow down the map!">
            <mat-icon>info</mat-icon>
        </button>

        <button mat-icon-button class="info-btn"
                (click)="showBackgroundNav = !showBackgroundNav"
                matTooltip="Display background manipulation.">
            <mat-icon>map</mat-icon>
        </button>

        <div *ngIf="showBackgroundNav" class="map-nav">

            <div class="upload-container">
                <app-file-upload
                        class="file-upload"
                        (upload)="setBackground($event)"></app-file-upload>
                <button mat-raised-button color="primary"
                        class="reset-btn"
                        (click)="resetBackgroundModification()">
                    Reset Background modification
                </button>
            </div>
            <div class="controls">
                <button class="kbc-button key-up" (click)="handleButtonPress('w')">W</button>
                <button class="kbc-button key-left" (click)="handleButtonPress('a')">A</button>
                <button class="kbc-button key-down" (click)="handleButtonPress('s')">S</button>
                <button class="kbc-button key-right" (click)="handleButtonPress('d')">D</button>
            </div>

            <div class="controls">
                <button class="kbc-button key-up" (click)="handleButtonPress('ArrowUp')">⇧</button>
                <button class="kbc-button key-left" (click)="handleButtonPress('ArrowLeft')">⇦</button>
                <button class="kbc-button key-down" (click)="handleButtonPress('ArrowDown')">⇩</button>
                <button class="kbc-button key-right" (click)="handleButtonPress('ArrowRight')">⇨</button>
            </div>


            <div class="plusminus">
                <button class="kbc-button key-down" (click)="handleButtonPress('-')">-</button>
                <button class="kbc-button key-up" (click)="handleButtonPress('+')">+</button>
            </div>

        </div>
    </div>

    <div id="universe">
        <!-- svg elements will be created programmatically -->
    </div>
</div>
