@import "src/styles/variables";
@import "src/styles/keyboard";

$bgColor: black;

#external-map {
  background-color: $bgColor;
  overflow: hidden;
}

.info-btn {
  color: $success;
}

button {
  pointer-events: auto;
}

.control-container-block {
  width: fit-content;
  display: block;
}

.controls {
  pointer-events: auto;
  display: inline-grid;
  grid-column-gap: 0;
}

.wider {
  width: 160px;
}

.celestial-controls {
  pointer-events: auto;
  display: inline-grid;
  grid-column-gap: 0;
  align-content: center;
  margin: 0 25px 25px 25px;
}

app-outlined {
  background-color: #2E3338;
  border-radius: 20px;
}

.name-field {
  margin: auto;
  align-content: center;
  display: inline-grid;
}

.map-nav {
  background-color: #2E3338;
  z-index: 999;
  border-radius: 20px;
  width: 550px;
}

.coord-control {
  z-index: 999;
  max-width: 250px;
  max-height: 240px;
}

.control-container {
  height: fit-content;
}

.file-upload {
  max-width: 500px;
  display: inline-block;
}

.reset-btn {
  float: right;
}

.kbc-button {
  height: 38px;
}

.upload-container {
  margin-bottom: 25px;
  pointer-events: auto;
}

.plusminus, .locking {
  pointer-events: auto;
}

.plusminus > button {
  width: 30px;
}

.locking > button {
  width: 50px;
}

.key-up {
  grid-column-start: 2;
}

.key-left {
  grid-column-start: 1;
}

.key-down {
}

.key-right {
  grid-column-start: 3;
}

.zoom-btn {
  grid-row-start: 1;
  grid-column-start: 3;
  top: 10px;
  left: 5px;
}

.red {
  background-image: radial-gradient(transparent, transparent, transparent, $warning-color);
}
