@use 'sass:map';
@use 'src/styles/palette-helper';
@use '@angular/material' as mat;
@use "src/styles/variables" as variables;

@include mat.core();


$bfh-primary: mat.define-palette(variables.$bfh-palette);
$bfh-accent: mat.define-palette(variables.$bfh-palette, A200, A100, A400);

$bfh-warn: mat.define-palette(mat.$red-palette);

$bfh-theme: mat.define-dark-theme((
        color: (
                primary: $bfh-primary,
                accent: $bfh-accent,
                warn: $bfh-warn,
        ),
        density: -3
));

$bfh-theme: palette-helper.modify-background($bfh-theme, variables.$background-color);
$bfh-theme: palette-helper.modify-text-color($bfh-theme, variables.$secondary-text-color);

@include mat.all-component-themes($bfh-theme);
