<div class="content-pane">

    <div class="flex-items-container btn-area">
        <a mat-raised-button color="primary" href="{{ frontendPath }}/assets/systems.json" target="_blank">
            <span matListItemLine>List all system coordinates</span>
        </a>
    </div>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Chose map composition
                </mat-panel-title>
                <mat-panel-description>
                    Select the canon map or define your own color set, then generate the map
                </mat-panel-description>
            </mat-expansion-panel-header>
            <form>
                <mat-form-field class="center-field" appearance="fill">
                    <mat-label>Select your viewport center</mat-label>
                    <mat-chip-grid #centerGrid aria-label="Center selection">
                        <mat-chip-row>
                            {{centerCoord?.name}}
                        </mat-chip-row>
                    </mat-chip-grid>

                    <input placeholder="Search..."
                           #centerInput
                           [formControl]="centerFormControl"
                           [matChipInputFor]="centerGrid"
                           [matAutocomplete]="auto1"
                           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"/>
                    <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="selectedCenter($event)">
                        <mat-option *ngFor="let coord of filteredCenter | async" [value]="coord">
                            {{coord.name}} (x: {{coord.x}}, y: {{coord.y}})
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>

            <mat-checkbox [(ngModel)]="isCanonMapPreselected" (change)="defineMapPreselection()">Set up canon factions</mat-checkbox>

            <form>
                <mat-form-field class="coords-chip-list" appearance="fill">
                    <mat-label>Select systems to highlight</mat-label>
                    <mat-chip-grid #highlightGrid aria-label="System selection">
                        <mat-chip-row *ngFor="let coord of coords" (removed)="remove(coord)" [ngStyle]="{'background-color' :getColor(coord)}">
                            {{coord.name}}
                            <button matChipRemove [attr.aria-label]="'remove ' + coord">
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip-row>
                    </mat-chip-grid>
                    <input placeholder="Search..."
                           #coordInput
                           [formControl]="highlightFormControl"
                           [matChipInputFor]="highlightGrid"
                           [matAutocomplete]="auto"
                           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"/>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let coord of filtered | async" [value]="coord">
                            {{coord.name}} (x: {{coord.x}}, y: {{coord.y}})
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>

            <div class="flex-items-container">
                <button mat-flat-button [style.color]="color"
                        [cpPosition]="'top'"
                        [cpPositionOffset]="'50%'"
                        [cpPositionRelativeToArrow]="true"
                        [(colorPicker)]="color">Change me!
                </button>

                <button mat-flat-button color="primary" (click)='addToColorGroup()' [disabled]="coords.length == 0">Add to color</button>

                <button mat-flat-button color="primary" (click)='buildURL()' [disabled]="coords.length == 0">Generate Map</button>
            </div>

            <div class="flex-items-container">
                <div cdkDropListGroup class="clearfix inner-list">
                    <div *ngFor="let colorGroup of colorGroups" class="system-box-container">
                        <div cdkDropList
                             [cdkDropListData]="colorGroup.coords"
                             (cdkDropListDropped)="drop($event)">
                            <mat-chip-row class="system-box" *ngFor="let coord of colorGroup.coords" cdkDrag [ngStyle]="{'background-color' :getColor(coord)}">
                                {{coord.name}}
                                <button matChipRemove [attr.aria-label]="'remove ' + coord" (click)="remove(coord)">
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </mat-chip-row>
                        </div>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Radius tool
                </mat-panel-title>
            </mat-expansion-panel-header>
            Please be aware that the canonical distances differs from the given positions at the maps by a scale of 1.1 to 6.7 times.

            <div *ngFor="let coord of radiusCoords" class="radius-input">
                {{coord.name}} (x: {{coord.x}}, y: {{coord.y}})
                <mat-form-field appearance="outline">
                    <mat-label>Enter radius in</mat-label>
                    <input matInput placeholder="Enter radius in" type="number" #input (input)="addRadius(coord, input)">
                    <span matSuffix>LY</span>
                </mat-form-field>
            </div>


            <form>
                <mat-form-field class="coords-chip-list" appearance="fill">
                    <mat-label>Select a radial center</mat-label>
                    <mat-chip-grid #radiusGrid aria-label="Center selection">
                        <mat-chip-row *ngFor="let coord of radiusCoords">
                            {{coord.name}} (x: {{coord.x}}, y: {{coord.y}})
                            <button matChipRemove [attr.aria-label]="'remove ' + coord" (click)="removeRadius(coord)">
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip-row>
                    </mat-chip-grid>

                    <input placeholder="Search..."
                           #radiusInput
                           [formControl]="radiusFormControl"
                           [matChipInputFor]="radiusGrid"
                           [matAutocomplete]="auto2"
                           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"/>
                    <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="selectedRadius($event)">
                        <mat-option *ngFor="let coord of filteredRadius | async" [value]="coord">
                            {{coord.name}} (x: {{coord.x}}, y: {{coord.y}})
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>

            <div class="flex-items-container" *ngIf="radiusCoords.length < 1" matTooltip="Take at least two systems to create an intersection.">
                <button mat-flat-button color="primary" disabled>Generate Radius Map</button>
            </div>
            <div class="flex-items-container" *ngIf="radiusCoords.length >= 1">
                <button mat-flat-button color="primary" (click)='buildRadialGroupURL()'>Generate Radius Map</button>
            </div>
        </mat-expansion-panel>
    </mat-accordion>


    <span matListItemLine class="topper">Link to use in browser</span>
    <mat-form-field appearance="outline" class="input-element">
        <mat-label>Link to use in browser</mat-label>
        <input matInput placeholder="IFrame to use" [disabled]="true" [value]=url>
        <button mat-icon-button matSuffix [cdkCopyToClipboard]="url">
            <mat-icon>content_copy</mat-icon>
        </button>
    </mat-form-field>

    <span matListItemLine>Use the following iframe to use the map somewhere.</span>
    <mat-form-field appearance="outline" class="input-element">
        <mat-label>IFrame to use</mat-label>
        <input matInput placeholder="IFrame to use" [disabled]="true" [value]=iFrameTxt>
        <button mat-icon-button matSuffix [cdkCopyToClipboard]="iFrameTxt">
            <mat-icon>content_copy</mat-icon>
        </button>
    </mat-form-field>

    <div class="flex-items-container" style="align-items: center;">

        <div class="column-flex">
            <mat-form-field style="width: 150px;">
                <mat-label>Width</mat-label>
                <input type="number" matInput [(ngModel)]="iFrameWidth" (click)="buildIFrame()">
                <span matSuffix style="margin-right: 15px;">&nbsp; px</span>
            </mat-form-field>

            <mat-form-field style="width: 150px;">
                <mat-label>Height</mat-label>
                <input type="number" matInput [(ngModel)]="iFrameHeight" (click)="buildIFrame()">
                <span matSuffix style="margin-right: 15px;">&nbsp; px</span>
            </mat-form-field>
        </div>

        <iframe [width]="iFrameWidth" [height]="iFrameHeight" [src]="url | safe"></iframe>
    </div>

</div>
<div id="spacer"></div>
