<!--suppress HtmlUnknownAttribute -->
<div class="mat-mdc-text-field-wrapper mdc-text-field mdc-text-field--outlined">
    <div class="mat-mdc-form-field-flex">
        <div matformfieldnotchedoutline
             class="mdc-notched-outline mdc-notched-outline--upgraded ng-star-inserted mdc-notched-outline--notched"
             ng-reflect-open="true"
             ng-reflect-label-width="64">
            <div class="mdc-notched-outline__leading"></div>
            <div class="mdc-notched-outline__notch">
                <label matformfieldfloatinglabel=""
                       class="mdc-floating-label mat-mdc-floating-label ng-tns-c70-52 ng-star-inserted mdc-floating-label--float-above"
                       ng-reflect-floating="true"
                       ng-reflect-disabled="false"
                       style="transform: var( --mat-mdc-form-field-label-transform, translateY(-50%) translateX(calc(1 * (52px + var(--mat-mdc-form-field-label-offset-x, 0px)))) );">
                    <mat-label _ngcontent-gva-c362="" class="ng-tns-c70-52 ng-star-inserted">{{titleValue}}</mat-label>
                </label>
            </div>
            <div class="mdc-notched-outline__trailing"></div>
        </div>
        <div class="mat-mdc-form-field-infix">
            <div _ngcontent-vpd-c362 class="direct-input">
                <ng-content
                        class="mat-mdc-input-element ng-untouched ng-pristine ng-valid mat-mdc-form-field-input-control mdc-text-field__input cdk-text-field-autofill-monitored width-fit-content height-fit-content"></ng-content>
            </div>
        </div>
    </div>
</div>
