<div>
    <button mat-icon-button (click)="setLeft()" [disabled]="disabled || disabledLeft">
        <mat-icon matListItemIcon class="margin-l-r" [inline]="true">keyboard_double_arrow_left</mat-icon>
    </button>
    <mat-slider
            [disabled]="disabled"
            [discrete]="!thumbLabel"
            [min]="leftAvailableValue"
            [max]="rightAvailableValue"
            step="1"
            [(ngModel)]="amount"
            (mouseup)="mouseup()"><input matSliderThumb/>
        <input matSliderThumb (valueChange)="input($event)">
    </mat-slider>
    <button mat-icon-button (click)="setRight()" [disabled]="disabled || disabledRight">
        <mat-icon matListItemIcon class="margin-l-r" [inline]="true">keyboard_double_arrow_right</mat-icon>
    </button>
</div>
