<mat-form-field appearance="outline" class="numeric-input" [ngClass]="ngClass">
    <mat-label *ngIf="caption != ''">{{caption}}</mat-label>
    <mat-label *ngIf="caption == ''">Amount</mat-label>
    <mat-icon *ngIf="disabled" matPrefix class="disabled">remove</mat-icon>
    <mat-icon *ngIf="!disabled" matPrefix (click)="sub(); $event.stopPropagation();">remove</mat-icon>
    <input matInput
           class="direct-input"
           [disabled]="inputDisabled"
           type="number"
           [step]="step"
           [min]="min"
           [max]="max"
           (click)="$event.stopPropagation();"
           autocomplete="off"
           [(ngModel)]="internalAmount"
           (ngModelChange)="change()">
    <mat-icon *ngIf="disabled" matSuffix class="disabled">add</mat-icon>
    <mat-icon *ngIf="!disabled" matSuffix (click)="add(); $event.stopPropagation();">add</mat-icon>
</mat-form-field>
