@import "src/styles/variables";
@import "src/styles/scrollbar";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

div .mat-subheader {
  font-weight: 500;
}

.bottom-spacer {
  // margin at the bottom of every tab body wrapper
  margin-bottom: 60px;
}

.content-area {
  margin: 25px 25px 25px 25px;
}

.clear-float {
  clear: both;
}

.small-field {
  width: 125px;
}

.mat-mdc-tab-body-wrapper {
  // make sure that the tab body grows to the full height
  flex-grow: 1;
  //flex: 1 1 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background-color);
}

.clickable {
  cursor: pointer;
}

.no-scrolling {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

.drawer-container {
  height: 100%;
}

.drawer-list {
  padding: 15px;
  width: 180px;
}

.mat-mdc-tab-body-content {
  padding-left: 50px;
}

.no-pad > .mat-mdc-tab-body-content {
  padding-left: 0;
}

.mat-expansion-panel-header:not([aria-disabled=true]) {
  height: 64px;
}

.short-field {
  width: 80px;
}

.description-field {
  width: 300px;
}

.flex-items-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.flex-end-items-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

// removes the ripple effect - it's needed in order to keep position in mat-expansion-panel
.mat-mdc-radio-ripple {
  display: none;
}

.holder {
  margin-top: 25px;
  width: 90%;
}

.mat-mdc-cell {
  text-align: center;
}

.mat-mdc-header-cell {
  text-align: center;
}

.sticky-on-top {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.invisible {
  visibility: hidden;
}

.display-none {
  display: none;
}

.height-fit-content-forced {
  height: -moz-fit-content !important;
  height: fit-content !important;
}

.height-fit-content {
  height: -moz-fit-content;
  height: fit-content;
}

.width-fit-content {
  width: -moz-fit-content;
  width: fit-content;
}

.width-fit-content-forced {
  width: -moz-fit-content !important;
  width: fit-content !important;
}

.mat-expansion-panel-header-title {
  justify-content: flex-start;
}

.mat-expansion-panel-header-description {
  justify-content: flex-end;
}

.mat-mdc-tab-label-content > .mat-mdc-icon {
  margin-left: 5px;
}

.no-checkmark {
  & span.mdc-evolution-chip__cell.mdc-evolution-chip__cell--primary > button > span.mdc-evolution-chip__graphic.mat-mdc-chip-graphic {
    width: 6px;
  }

  & .mdc-list-item__end {
    display: none;
  }

  & span.mdc-evolution-chip__cell.mdc-evolution-chip__cell--primary > button > span.mdc-evolution-chip__graphic.mat-mdc-chip-graphic .mdc-evolution-chip__checkmark {
    display: none;
  }
}

.margin-bottom {
  margin-bottom: 15px !important;
}

.mat-expansion-panel {
  width: $page-width;
}

app-numeric-counter > mat-form-field > div.mat-mdc-form-field-subscript-wrapper {
  height: 0;
}

app-numeric-counter > mat-form-field > div.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--outlined > div > div.mat-mdc-form-field-infix {
  min-height: 0;
  height: 48px;
}

.mat-step-header .mat-step-icon {
  background-color: var(--primary-color);
}

.streamline-background, .mat-mdc-table, .mat-mdc-paginator, .mat-stepper-vertical, .mat-stepper-horizontal, .mat-expansion-panel, .mat-drawer {
  background-color: var(--secondary-background-color) !important;
}


.info-div {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  z-index: 999;
  padding: 15px 25px 10px 25px;
  backdrop-filter: blur(10px);
  border: solid 1px white;
  border-radius: 5px 5px 20px 20px;

  & .mat-mdc-form-field {
    margin: 15px 15px 0 0;
  }
}

.control-container {
  position: absolute;
  left: 50%;
  top: 120px;
  transform: translateX(-50%);
  width: 50em;
  z-index: 999;
  padding: 25px;
  border-radius: 5px 5px 20px 20px;
  pointer-events: none;
}

#universe {
  height: 100vh;
  width: 100vw;
  background-size: 100% 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
}

#universe-canvas, #star-system-canvas, #combat-arena, #universe-minimap-canvas {
  height: 100%;
  width: 100%;
  contain: paint;
}

.low-opacity {
  opacity: 0.5;
}

.wormhole {
  stroke: dimgray;
}

.wormhole-highlight {
  stroke: var(--junction-color);
}

.minimap-wormhole {
  stroke-width: 5;
  stroke: var(--junction-color);
}

.star {
  opacity: 0.8;
  filter: alpha(opacity=80);
  cursor: pointer;
}

.roundCap {
  stroke-linecap: round;
}

.highlighted {
  stroke: #306f91;
  stroke-width: 1;
}

.orbit {
  stroke: cadetblue;
  stroke-width: 1;
}

.hyper-limit {
  stroke: orange;
  stroke-width: 1;
}

.circle-cycle {
  stroke: var(--junction-color);
  stroke-dasharray: 10;
  stroke-width: 2;
}

.coordCross {
  stroke: var(--coordinate-system-color);
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.minimap-coordCross {
  stroke: var(--coordinate-system-color);
  stroke-width: 1;
}

#minimap-indicator {
  stroke: var(--minimap-rect-color);
}

mat-icon, .mat-mdc-icon-button {
  color: var(--map-text-color) !important;
}

.mat-mdc-form-field-icon-suffix {
  margin-left: 10px;
  margin-right: 5px;
}

.confirm-mat-dialog-panel .mat-mdc-dialog-container {
  // todo resize: both;
}

.mat-mdc-menu-panel {
  background-color: transparent !important;
}

.legend-un-highlighted {
  opacity: 0.3 !important;
}

.solarian {
  color: var(--solarian-color);
  fill: var(--solarian-color);
}

.protectorate {
  color: var(--protectorate-color);
  fill: var(--protectorate-color);
}

.manticore {
  color: var(--manticore-color);
  fill: var(--manticore-color);
}

.haven {
  color: var(--haven-color);
  fill: var(--haven-color);
}

.malign {
  color: var(--malign-color);
  fill: var(--malign-color);
}

.anderman {
  color: var(--anderman-color);
  fill: var(--anderman-color);
}

.silesia {
  color: var(--silesia-color);
  fill: var(--silesia-color);
}

.midgard {
  color: var(--midgard-color);
  fill: var(--midgard-color);
}

.matapan {
  color: var(--matapan-color);
  fill: var(--matapan-color);
}

.asgard {
  color: var(--asgard-color);
  fill: var(--asgard-color);
}

.monica {
  color: var(--monica-color);
  fill: var(--monica-color);
}

.torch {
  color: var(--torch-color);
  fill: var(--torch-color);
}

.famous {
  color: var(--famous-color);
  fill: var(--famous-color);
}

.unfocussed {
  color: var(--unfocussed-color);
  fill: var(--unfocussed-color);
}

.svg-text {
  fill: var(--map-text-color);
}
