<app-outlined [titleValue]="titleValue" class="chip-selector" (click)="toggle()">
    <mat-chip-listbox #chipList [multiple]="_multiple" [formControl]="chipControl">
        <mat-chip-option
                [ngClass]="_noCheckmark ? 'no-checkmark' : ''"
                *ngFor="let chipValue of chipValues"
                [value]="chipValue.value"
                (click)="sendOutput(); $event.stopPropagation();">
            {{chipValue.value}}
        </mat-chip-option>
        <!--<mat-icon *ngIf="!!trailingIcon" matChipTrailingIcon aria-hidden="false" [attr.aria-label]="chipValue" [fontIcon]="trailingIcon"></mat-icon>-->
        <!--<mat-icon *ngIf="!!leadingicon" matChipTrailingIcon aria-hidden="false" [attr.aria-label]="chipValue" [fontIcon]="leadingicon"></mat-icon>-->
    </mat-chip-listbox>
</app-outlined>